kwmc rule properties={float="true"} role="AXDialog"

kwmc rule owner="FocusList" properties={role="AXDialog"}
kwmc rule owner="FocusList" role="AXDialog" properties={float="false"}

kwmc rule properties={float="true"} owner="App Store"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="Lingon X"
kwmc rule properties={float="true"} owner="Alfred Preferences"
kwmc rule properties={float="true"} owner="Transmission"
kwmc rule properties={float="true"} owner="IINA"
kwmc rule properties={float="true"} owner="Archive Utility"
kwmc rule properties={float="true"} owner="The Unarchiver"
kwmc rule properties={float="true"} owner="VLC"
kwmc rule properties={float="true"} name="Preferences"
kwmc rule properties={space="9"} owner="Reeder"
kwmc rule owner="System Preferences" properties={float="true"}
kwmc rule properties={space="5"} owner="PyCharm"
kwmc rule properties={space="3"} owner="Firefox"
kwmc rule properties={space="4" float="false"} owner="Skipe"
kwmc rule properties={space="7" float="false"} owner="Adobe Illustrator СС 2017"
kwmc rule properties={space="7" float="false"} owner="Adobe Photoshop СС 2017"
kwmc rule properties={space="1" float="false"} owner="iTerm2"
kwmc rule properties={float="false" space="8"} owner="Thungs"
kwmc rule properties={float="true"} owner="Finder"
