kwmc rule properties={space="1"} owner="PyCharm"
kwmc rule properties={space="1"} owner="iTerm2"
kwmc rule properties={space="2", float="false"} owner="Firefox"
kwmc rule properties={space="2", float="false"} owner="Google Chrome"
kwmc rule properties={space="3"} owner="Skipe"
kwmc rule properties={space="3"} owner="WhatsApp"
kwmc rule properties={space="3"} owner="Telegram"
kwmc rule properties={space="4", float="false"} owner="Spark"
kwmc rule properties={space="4"} owner="Mail"
kwmc rule properties={space="5"} owner="Transmit"
kwmc rule properties={space="5", float="false"} owner="Postico"
kwmc rule properties={space="5", float="false"} owner="Tower"
kwmc rule properties={space="6"} owner="Thungs"
kwmc rule properties={space="6"} owner="MoneyWiz 2"
kwmc rule properties={space="7"} owner="Adobe Illustrator СС 2017"
kwmc rule properties={space="7"} owner="Adobe Photoshop СС 2017"
kwmc rule properties={space="8", float="false"} owner="Alternote"
kwmc rule properties={space="8", float="false"} owner="Notes"
kwmc rule properties={space="8", float="false"} owner="Reeder"
kwmc rule properties={space="9"} owner="iTunes"

kwmc rule properties={float="true"} owner="Parallels Desktop"
kwmc rule properties={float="true"} owner="Path Finder"
kwmc rule properties={float="true"} owner="App Store"
kwmc rule properties={float="true"} owner="Entropy"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="Transmission" role="AXRole"
kwmc rule properties={float="true"} owner="XnView" role="AXRole"
kwmc rule properties={float="true"} owner="IINA" role="AXRole"
kwmc rule properties={float="true"} owner="Archive Utility"
kwmc rule properties={float="true"} owner="The Unarchiver"
kwmc rule properties={float="true"} name="Preferences"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="Finder"
kwmc rule properties={float="true"} owner="Dictionary"
kwmc rule properties={float="true"} owner="TeamViewer"
